<h1>Forgettable TODO</h1>


<p><%= notice %><%= alert %></p>
<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign up with GitHub', user_github_omniauth_authorize_path %>
<% end %>
<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

<h2>Add Todo</h2>

<%= form_for @todo do |t| %>
  <p class="form-group field">
    <%= t.label :title, class: "control-label" %>
    <%= t.text_field :title, id: :title %>
  </p>
  <p class="form-group field">
    <%= t.label :description, class: "control-label" %>
    <%= t.text_area :description, id: :description %>
  </p>
  <p>
    <%= t.submit "Create", class: "btn btn-primary" %>
  </p>
<% end %>

<h2>Todos</h2>

<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <% if todo.list_valid_todos(current_user) %>
        <tr>
          <td><%= todo.created_at %></td>
          <td><%= todo.title %></td>
          <td><%= todo.description %></td>
          <td><%= link_to 'Done', todo, method: :put %></td>
          <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>

<!-- React -->
<% if user_signed_in? %>
<section>
  <%= javascript_pack_tag 'application' %>
</section>
<% end %>